@inject AuthenticationStateProvider AuthStateProvider

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark" style="position: sticky;top: 0;left: 0;width: 100%;z-index: 9;background-color:black;color: white">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#"><img src="/Images/logo-white.png" width="125px;"></a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Link -->
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Categories">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/About">About Us</a>
                </li>
            </ul>

            <!-- Icons -->
            <ul class="navbar-nav d-flex flex-row me-1">

                <AuthorizeView>
                    <NotAuthorized>
                        <li class="nav-item me-3 me-lg-0" style="font-size: 19px;">
                            <a class="nav-link text-white" href="/Login"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
                        </li>
                    </NotAuthorized>
                    <Authorized>
                        <li class="nav-item me-3 me-lg-0" style="font-size: 19px;">
                            <a class="nav-link text-white" href="/Account"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
                        </li>
                        <li class="nav-item me-3 me-lg-0" style="font-size: 17px;">
                            <a class="nav-link text-white" href="/ShoppingCart"><i class="fas fa-shopping-cart" aria-hidden="true"></i></a>
                        </li>
                        <li class="nav-item me-3 me-lg-0" style="font-size: 17px;">
                            <a class="nav-link text-white" href="/OrderDetails"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                        </li>
                        <li class="nav-item me-3 me-lg-0" style="font-size: 17px;">
                            <a class="nav-link text-white" href="/Favorite"><i class="fa fa-heart" aria-hidden="true"></i></a>
                        </li>
                        <li class="nav-item me-3 me-lg-0" style="font-size: 19px;">
                            <a class="nav-link text-white" href="#" @onclick="Logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
@code {
    private async void Logout()
    {
        await LocalStorage.RemoveItemAsync("username");
        await LocalStorage.RemoveItemAsync("id");
        await LocalStorage.RemoveItemAsync("email");
        await AuthStateProvider.GetAuthenticationStateAsync();
    }
}