@page "/About"

<h2>About Us</h2>

<p>
    RedStore is the RedPay ‘Buy Now Pay Later’ marketplace, offering over 6 million products from over 30,000
    local and cross-border sellers including, clothing, mobile phones, electronics, home appliances, beauty,
    toys, home and garden, and much more! You can shop on RedStore, from millions of local and cross-border products,
    in your local currency, and with the option to pay cash-on-delivery or with RedPay. RedPay offers flexible payment methods
    with 4 or 6 interest-free installments or a ‘Pay After Delivery’ option with a full interest-free repayment 14 days after delivery.
    RedPay’s application is fully online and the approval is instant!
</p>
