@page "/Privacyandsecuritypolicy"

<h2>Privacy & Security Policy</h2>

<h4>RedStore Privacy Policy And Copyright Notice</h4>

<p>
    This Privacy Policy applies to the RedStore marketplace operated by OrientSwiss S.A. and its corporate affiliates,
    and to any other Service that is operated by OrientSwiss. This Privacy Policy uses the terms "our" "us" and "we"
    to refer to OrientSwiss S.A. and "you" or "user(s)" to refer to individuals described by the information that
    OrientSwiss S.A. collects and uses, such as consumers and merchants. Please read this document carefully to
    learn more about how we collect, use, share and protect information, including information that may describe
    you personally.
</p>

<h5>Disclaimers:</h5>

<p>The contents of this Service are subject to the matters set out below:</p>

<ol style="list-style-type:disc">
    <li>Contents are only for general information or use by customers (as indicated).</li>
    <li>The information on this page and Website is updated from time to time. However, we hereby exclude any warranties (whether expressed or implied), as to the quality, accuracy, efficacy, completeness, performance, fitness for a particular purpose of this page, the Website or any of its contents, including (but not limited) to any price quotes or non-fraudulent representations contained within the Service.</li>
    <li>We will not be liable for any damages (including, without limitation, damages for any consequential loss or loss of business opportunities or projects, or loss of profits) howsoever arising and whether in contract, tort or otherwise from the use of or inability to use the Website, or any of its contents and materials, or from any action or omission taken as a result of using the Website or any such contents. In any event our liability for all damages and losses (including negligence) shall not in any circumstances exceed the amount paid by you, if any, for accessing this Website.</li>
    <li>This Service contains material in the form of information, price quotes or representations submitted by third parties and we accept no responsibility for the content or accuracy of such material nor do we make any representations by virtue of the contents of this Website in respect of the guaranteed availability of any services advertised.</li>
    <li>All liability is excluded to the fullest extent permitted by applicable law including any implied terms as the content of this Service is provided 'as is' without warranties of any kind. We reserve the right to change all the contents of this Service at any time without notice to you.</li>
</ol>

<p>Swiss law and exclusive jurisdiction of Swiss Chambers' Arbitration Institute (seat of the arbitration shall be Geneva, Switzerland the arbitration shall be held in accordance with the Swiss Rules of International Arbitration, 2012 of the Swiss Chambers' Arbitration Institute and, by a sole arbitrator appointed by Swiss Chambers' Arbitration Institute) apply with respect to contents of this Service. If you do not agree with the governing law or these terms, please do not use this Service.</p>

<p>This Privacy Policy does not apply to the practices of companies we don't own or control, or people that we don't manage. For example, it does not apply to the use of purchaser shipping information by a merchant.</p>

<h5>General Information:</h5>

<p>RedStore marketplace operates on several markets, that allow merchants to list items and users to find and purchase items. We collect and use information from users (customers), merchants (sellers). We also use information to find items that we think will be of interest to customers and to find the right price for each item.</p>

<p>By using or accessing the Services, you acknowledge that we will collect, use, and share your information as described in this Privacy Policy. You have choices about whether to provide us with information and how we use that information. You may choose not to provide us with information, but your choice(s) may prevent you from using some of the selected Services. For example, if you do not provide us with a payment method, you may not be able to make purchases.</p>

<p>We're constantly trying to improve our Services, so we may need to update this Privacy Policy. We may update this Privacy Policy to reflect changes in the law, the Services, our companies or advances in technology. Our use of the information we collect is subject to the Privacy Policy in effect at the time such information is used.</p>

<h5>Privacy policy and Data Protection:</h5>

<p>We are strongly committed to the protection of your privacy online and accordingly, we take protective measures to protect the personal information provided to us by you. We also take further measures to comply with the relevant statement regarding what we can do with personal information we obtain from you.</p>

<p>We comply with and shall continue complying with all our obligations under applicable laws. You consent to our processing of your information.</p>

<p>This privacy policy is not intended to, and does not, create any contractual or other legal rights or obligations on either your or our part.</p>

<p>In order to assist us you may provide us with information from time to time which we may require or use for the purposes of providing you with any required services, information or requested activity including contacting you and providing notification to you in relation to such services or related activity.</p>

<p>We may provide the data collected from you to members of our group companies and our partners. We do not share your personal information with any third parties other than information that may be needed by our partners to complete payment services or complete the last mile delivery route to you.</p>

<p>The registration information you provide may be required to use the service. We will store this information and data and use it to contact you, provide you with further details of the services and otherwise for the normal use, provision of services and improvement of the Service, unless you ask us not to do so.</p>

<p>The information may be disclosed to third parties to enable you to gain access to any restricted part of the Service, enable you to receive information which you have requested to be sent to you by post or for you to receive specified services.</p>

<p>We may use third-party SDKs (Software Development Kits) to store and track information about you. This will assist us in measuring the effectiveness of banner advertising and provide more accurate analysis of Service activity.</p>

<p>Some of the information we collect is actively provided by you, such as when you fill out a field or form. Other types of information are collected automatically.</p>

<h5>What Information you provide:</h5>

<p>When you use the Service you provide information to us, such as when you create an account or a store, make or fulfill a purchase, leave a review, or request customer support. Examples of the information you may provide are:</p>

<ol style="list-style-type:disc">
    <li>Name</li>
    <li>Email address</li>
    <li>Payment method or payment account</li>
    <li>Shipping address or business address, including home addresses (for the door-to-door delivery)</li>
    <li>Phone number</li>
    <li>Password or social network account credentials</li>
    <li>Additional verification data, including government identification</li>
</ol>

<h5>What information we collect:</h5>

<p>When you use the Service, including when you visit our sites or install our app, we automatically collect information about how you use the Service and the devices you use to access the Service. We may also generate information about you, such as an Account ID number. Examples of the information we collect automatically are:</p>

<ol style="list-style-type:disc">
    <li>IP Address</li>
    <li>Location information - general location information from your computer or mobile device or precise GPS location information from your mobile device.</li>
    <li>Social network account and profile data (when you use social login)</li>
    <li>Unique Identifiers, including MAC Address, Ad IDs, and device attributes, such as operating system and browser type, and usage patterns.</li>
    <li>Usage Data, such as: web log data, referring and exit pages and URLs, platform type, number of clicks, domain names, landing pages, pages and content viewed and the order of those pages, the amount of time spent on particular pages, the date and time you used our Services, the frequency of your use of our Services, error logs, and other similar information.</li>
</ol>

<p>We or our service providers or business partners may collect and use some information in an automated way to support analytics and advertising operations.</p>

<p>We use analytics tools to understand better how individuals and their devices interact with the Service. Google Analytics is important to our analytics. Please visit: <a href="/Privacyandsecuritypolicy">How Google uses data when you visit a partner site or app.</a></p>

<p>The Service may have links to third-party websites or apps, which may have privacy policies that differ from our own. We are not responsible for the practices of such sites/apps.</p>

<p>The Services may also offer you the ability to interact with plug-ins from social media sites and others, which may allow us or the social media site to receive data from or about you. If you have previously provided personal information to a third-party operating a plug-in on the Service, then that third-party may recognize you on the Service. Your use of social network plug-ins is subject to the privacy policy of the company that operates the plug-in, which may be different from ours, so please read these policies carefully to understand their policies and your options.</p>

<p>We may gather information, including demographic and statistical information from third-parties, such as business partners. We may attribute this information to you based on your assignment to certain statistical groups.</p>

<h5>Data Processing</h5>

<p>In general, we collect, use and store ("process") your information to provide the Service, to fix and improve the Service, to develop new services, and to market our companies and their products and services. Some specific examples of how we use information are:</p>

<ol>
    <li>Setup and manage accounts, including identification and authentication</li>
    <li>Collect or make a payment</li>
    <li>Process or support fulfillment of orders</li>
    <li>Find or recommend a local feature/service</li>
    <li>Communicate with you - using email, sms, push notifications or platform messaging (like Whatsapp) - about your account or to market product listings, features, or events</li>
    <li>Advertise and market the Services, including in email or other channels</li>
    <li>Test changes in the Service and develop new features</li>
    <li>Analyze use of the Service and personalize content, including ads and prices</li>
    <li>Provide support, including addressing questions and problems customers or merchants may have with the Service, or resolving disputes</li>
    <li>Prevent, detect, investigate and respond to fraud, unauthorized access/use of the Service, breaches of terms and policies, or other wrongful behavior</li>
    <li>Comply with any procedures, laws, and regulations which apply to us, including those that set retention periods</li>
</ol>

<p>We are taking and will endeavour to continue taking all reasonable steps in order to protect your personal information and data. However, we cannot guarantee the security of any personal information or data you disclose online, having regard to the nature of the internet. We may use encryption technology from time to time to assist in protecting any information or data which you submit. In any event, you accept the inherent security implications of disclosing information over the internet and agree not to hold us responsible for any breach of security unless we have been negligent or wilfully in default of our obligations under the relevant legislation.</p>

<p>At any time, if you are concerned that the information we hold about you is incorrect, please do not hesitate to contact us to correct such information.We reserve the right to change this Privacy Policy and Data Protection Statement at any time by posting revisions on our Service.</p>

<h5>Use of Cookies</h5>

<p>We use cookies, pixels, and other technologies (collectively, "cookies") to recognize your browser or device, learn more about your interests, and provide you with essential features and services and for additional purposes, including:</p>

<ol>
    <li>Recognizing you when you sign-in to use our services. This allows us to provide you with product recommendations, display personalized content, and provide other customized features and services.</li>
    <li>Keeping track of your specified preferences.</li>
    <li>Keeping track of items stored in your shopping basket.</li>
    <li>Conducting research and diagnostics to improve RedStore's content, products, and services.</li>
    <li>Preventing fraudulent activity.</li>
    <li>Improving security.</li>
    <li>Delivering content, including ads, relevant to your interests on RedStore and third-party sites.</li>
    <li>Reporting. This allows us to measure and analyze the performance of our services.</li>
</ol>

<p>RedStore’s cookies allow you to take advantage of some of RedStore's essential features. For instance, if you block or otherwise reject our cookies, you will not be able to add items to your Shopping Cart, proceed to Checkout, or use any RedStore products and services that require you to sign in.</p>

<p>Approved third parties may also set cookies when you interact with RedStore services. Third parties include search engines, providers of measurement and analytics services, social media networks, and advertising companies. Third parties use cookies in the process of delivering content, including ads relevant to your interests, to measure the effectiveness of their ads, and to perform services on behalf of RedStore.</p>

<p>You can manage browser cookies through your browser or device settings. The 'Help' feature on most browsers/devices will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, how to block cookies, and when cookies will expire. If you block all cookies on your browser, neither we nor third parties will transfer cookies to your browser. If you do this, however, you may have to manually adjust some preferences every time you visit a site and some features and services may not work.</p>

<h5>Data Security Policy</h5>

<p>We control physical security in relation to the information and personal data that is contained at our facilities and restrict access to the Service, buildings, computer rooms, office desk, technology areas, equipment and other facilities where unauthorised access by people could compromise our security.</p>

<p>All proprietary or confidential information, including personal data, is contained or stored on computer and any that is contained and stored on manual files is locked up and secure.</p>

<p>We control access to information and personal data, including existing procedures for authorising and authenticating users as well as software controls for restricting access and techniques for protecting data such as encryption.</p>

<p>We maintain a business continuity plan as a contingency plan which identifies our business functions and assets (including personal data) which would need to be maintained in the event of disaster and set out the procedures for protecting and restoring them if necessary.</p>

<p>In respect of detection and investigation of breaches where they occur, we have in place relevant controls which should alert us to a breach in security. We endeavour to investigate every breach of security.</p>

<p>The Company cannot guarantee the security of any personal information or data disclosed to it or collected by it.</p>

<h5>Copyright Notice</h5>

<ol style="padding-bottom: 50px;">
    <li>Unless otherwise expressly stated, copyright, database right or similar rights in all material presented on the website and/or mobile app of RedStore (together the 'Service'), including graphical images, text, video clips, reprographics, sounds, demos, patches and other files, is owned, controlled or licensed by RedStore or its affiliates and is protected or covered by copyright, trade mark, intellectual property law and other proprietary rights.</li>
    <li>You have limited permission to display, print or download extracts from these pages for your personal non-commercial and non-profit use only and you shall not be entitled to commercialise any such material in any way.</li>
    <li>Any copies of the pages of the Service which you save to disk or to any other storage system or medium may only be used for subsequent viewing purposes or to print extracts for personal use.</li>
    <li>You may not (whether directly or indirectly including through the use of any program) create a database in an electronic or other form by downloading and storing all or any part of the pages from this Website without our prior written consent save as expressly authorised by an agreement in writing between us.</li>
    <li>Unless with our prior permission no part of this Website may be reproduced or transmitted to or stored in any other website, nor may any of its pages or part thereof be disseminated in any electronic or non electronic form, nor included in any public or private electronic retrieval system or service.</li>
    <li>Linking to the home page of our Service is greatly appreciated but written permission for using our name, logo and linking to our Service is required. Please contact us for the same. No deep linking or framing will be permitted without prior written agreement. We reserve the right to revoke such permission at any time.</li>
    <li>You may not amend, republish, distribute, reproduce, adapt or modify any of the materials on this Service or use any of the materials for public performance or otherwise make commercial use of this Website or any materials located on it without our prior written consent.</li>
    <li>The permission granted terminates automatically if you breach any of these terms or other terms and conditions applicable to this Service.</li>
</ol>

<MudScrollToTop>
    <MudFab Color="Color.Default" Icon="@Icons.Filled.ArrowUpward" />
</MudScrollToTop>