@page "/Returnpolicy"

<h2>Return & Refund Policy</h2>

<h5>Return Policy</h5>

<p>We want you to be completely satisfied with your purchase on RedStore.</p>

<p>If you received a wrong item or a defected item, you may contact us and ask for a return/refund within 14 days of delivery. For Local orders from Local sellers, you can only request a return within 3 days of receiving the order.</p>

<p>We aim to process all requests within 72 hours upon receiving your claim.</p>

<p>Please provide us with a few photos, including the label on the package you received via support@RedStore.com as reference. Please provide as much evidence as you can to prove that the item you purchased is not as described.</p>

<P>For hygienic reasons, bodysuits, lingerie & sleepwear, swimwear, jewelry, and accessories (except scarves, bags) cannot be returned or exchanged.</P>

<p style="padding-bottom: 50px;">You can refer to <a href="/Returnpolicy">https://intl.RedStore.com/support/int</a> for the details of Returns Policy. The final explanation rights of these terms are reserved by RedStore.</p>
