@page "/Seller"

<div style="background: black;margin-bottom:60px;">
    <MudText Align="Align.Center" Typo="Typo.h4" Style="padding: 40px;color: white;"><b>DEVELOP YOUR E-BUSINESS IN UNTAPPED COUNTRIES OF SILK ROAD WITH RedStore APP</b></MudText>
    <div style="text-align:center;">
        <MudButton Variant="Variant.Filled" Color="Color.Dark">
            SUBMIT APPLICATION
        </MudButton>
    </div>

    <MudText Align="Align.Center" Typo="Typo.h6" Style="padding: 40px;color: white;">
        RedStore Market Presence
    </MudText>
</div>

<div style="margin-left: 30px;margin-right: 30px;">


    <div style="padding-bottom:60px;">
        <MudText Align="Align.Center" Typo="Typo.h4" Style="padding-bottom: 20px;color: #4d4d4d;">
            <b>About RedStore</b>
        </MudText>
        <MudText Align="Align.Center">
            RedStore is a Swiss-based mobile app, operating in Silk Road countries, presenting e-commerce products to millions of new buyers. By listing your products on RedStore, you can start promoting them to over 225 millions of buyers.
        </MudText>
    </div>

    <div class="row" style="padding-bottom:20px;border-bottom:1px solid #000;margin-bottom:60px;">
        <div class="col-md-6">
            <MudText Align="Align.Center">
                <a href="https://www.apple.com/app-store/" style="text-decoration:none;color: #939597;" target="_blank">IOS Version</a>
            </MudText>
        </div>
        <div class="col-md-6">
            <MudText Align="Align.Center">
                <a href="https://play.google.com/store/games?hl=en&gl=US" style="text-decoration:none;color: #939597;" target="_blank">Android Version</a>
            </MudText>
        </div>

    </div>

    <div style="padding-bottom:60px;border-bottom:1px solid #000;">
        <MudText Align="Align.Center" Typo="Typo.h4" Style="padding-bottom:20px;color: #4d4d4d;">
            <b>Popular Categories</b>
        </MudText>

        <MudText Align="Align.Center">
            You can find many categories and subcategories in RedStore.
        </MudText>


        <MudGrid Style="padding-top:5%;">
            <MudItem xs="6" sm="2" Style="text-align: center;">
                <MudImage Src="/Images/Icons/icon-Mens.png" Alt="Mony the dog" Style="background-color:transparent;" Width="110" Height="110" />
            </MudItem>
            <MudItem xs="6" sm="2" Style="text-align: center;">
                <MudImage Src="/Images/Icons/icon-Womens.png" Alt="Mony the dog" Style="background-color:transparent;" Width="110" Height="110" />
            </MudItem>
            <MudItem xs="6" sm="2" Style="text-align: center;">
                <MudImage Src="/Images/Icons/icon-headphone.png" Alt="Mony the dog" Style="background-color:transparent;" Width="110" Height="110" />
            </MudItem>
            <MudItem xs="6" sm="2" Style="text-align: center;">
                <MudImage Src="/Images/Icons/icon-sports.png" Alt="Mony the dog" Style="background-color:transparent;" Width="110" Height="110" />
            </MudItem>
            <MudItem xs="6" sm="2" Style="text-align: center;">
                <MudImage Src="/Images/Icons/icon-baby.png" Alt="Mony the dog" Style="background-color:transparent;" Width="110" Height="110" />
            </MudItem>
            <MudItem xs="6" sm="2" Style="text-align: center;">
                <MudImage Src="/Images/Icons/icon-accessories.png" Alt="Mony the dog" Style="background-color:transparent;" Width="110" Height="110" />
            </MudItem>
            <MudItem xs="6" sm="2" Style="text-align: center;">
                <MudImage Src="/Images/Icons/icon-laptop.png" Alt="Mony the dog" Style="background-color:transparent;" Width="150" Height="110" />
            </MudItem>
            <MudItem xs="6" sm="2" Style="text-align: center;">
                <MudImage Src="/Images/Icons/icon-watch.png" Alt="Mony the dog" Style="background-color:transparent;" Width="110" Height="110" />
            </MudItem>
            <MudItem xs="6" sm="2" Style="text-align: center;">
                <MudImage Src="/Images/Icons/icon-frame.png" Alt="Mony the dog" Style="background-color:transparent;" Width="110" Height="110" />
            </MudItem>
            <MudItem xs="6" sm="2" Style="text-align: center;">
                <MudImage Src="/Images/Icons/icon-gadgets.png" Alt="Mony the dog" Style="background-color:transparent;" Width="150" Height="110" />
            </MudItem>
            <MudItem xs="6" sm="2" Style="text-align: center;">
                <MudImage Src="/Images/Icons/icon-household.png" Alt="Mony the dog" Style="background-color:transparent;" Width="110" Height="110" />
            </MudItem>
            <MudItem xs="6" sm="2" Style="text-align: center;">
                <MudImage Src="/Images/Icons/icon-lamp.png" Alt="Mony the dog" Style="background-color:transparent;" Width="110" Height="110" />
            </MudItem>
        </MudGrid>

    </div>

    <div style="padding-bottom:60px;padding-top:50px;border-bottom:1px solid #000;">
        <MudText Align="Align.Center" Typo="Typo.h4" Style="color: #4d4d4d;">
            <b>RedStore Benefits</b>
        </MudText>

        <MudGrid Style="padding-top:5%;">
            <MudItem xs="6" sm="2" Style="text-align: center;">
                <MudImage Src="/Images/Icons/icon-custom.png" Alt="Mony the dog" Style="background-color:transparent;" Width="100" Height="100" />
            </MudItem>
            <MudItem xs="6" sm="2" Style="text-align: center;">
                <MudImage Src="/Images/Icons/icon-payment.png" Alt="Mony the dog" Style="background-color:transparent;" Width="120" Height="100" />
            </MudItem>
            <MudItem xs="6" sm="2" Style="text-align: center;">
                <MudImage Src="/Images/Icons/icon-globe.png" Alt="Mony the dog" Style="background-color:transparent;" Width="100" Height="100" />
            </MudItem>
            <MudItem xs="6" sm="2" Style="text-align: center;">
                <MudImage Src="/Images/Icons/icon-customersupport.png" Alt="Mony the dog" Style="background-color:transparent;" Width="100" Height="100" />
            </MudItem>
            <MudItem xs="6" sm="2" Style="text-align: center;">
                <MudImage Src="/Images/Icons/icon-returnpolicy.png" Alt="Mony the dog" Style="background-color:transparent;" Width="100" Height="100" />
            </MudItem>
            <MudItem xs="6" sm="2" Style="text-align: center;">
                <MudImage Src="/Images/Icons/icon-marketplace.png" Alt="Mony the dog" Style="background-color:transparent;" Width="100" Height="100" />
            </MudItem>
        </MudGrid>

    </div>

    <div style="padding-bottom:70px;padding-top:50px;">
        <MudText Align="Align.Center" Typo="Typo.h4" Style="padding-bottom:50px;color: #4d4d4d;">
            <b>RedStore Seller Conditions</b>
        </MudText>

        <MudGrid>
            <MudItem xs="4">
                <MudText Align="Align.Center" Typo="Typo.h5" Style="color: black;">2% - 15% Commission</MudText>
            </MudItem>
            <MudItem xs="4">
                <MudText Align="Align.Center" Typo="Typo.h5" Style="color: black;">No subscription</MudText>
            </MudItem>
            <MudItem xs="4">
                <MudText Align="Align.Center" Typo="Typo.h5" Style="color: black;">Weekly Payment</MudText>
            </MudItem>
        </MudGrid>
    </div>

    <div style="padding-bottom:60px;">
        <MudText Align="Align.Center" Typo="Typo.h4" Style="padding-bottom: 20px;color: #4d4d4d;">
            <b>Join RedStore as a Seller</b>
        </MudText>

        <MudText Align="Align.Center" Style="padding-bottom: 20px;">
            Let's grow your business in the unexplored countries of Silk Road.
        </MudText>

        <div style="text-align:center;">
            <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Dark">
                SUBMIT APPLICATION
            </MudButton>
        </div>
    </div>

</div>

<MudScrollToTop>
    <MudFab Color="Color.Default" Icon="@Icons.Filled.ArrowUpward" />
</MudScrollToTop>

@code {

}
