/*.update-qty {
    display: none;
}*/

.product-count {
    padding-right: 15px;
}

    .product-count .qtyminus,
    .product-count .qtyplus {
        width: 34px;
        height: 34px;
        background: #212529;
        text-align: center;
        font-size: 19px;
        line-height: 36px;
        color: #fff;
        cursor: pointer;
    }

    .product-count .qtyminus {
        border-radius: 3px 0 0 3px;
    }

    .product-count .qtyplus {
        border-radius: 0 3px 3px 0;
    }

    .product-count .qty {
        width: 60px;
        text-align: center;
    }

.round-black-btn {
    border-radius: 4px;
    background-color: white;
    color: black;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #212529;
    transition: all 0.5s ease-in-out 0s;
}

    .round-black-btn:hover,
    .round-black-btn:focus {
        background: transparent;
        color: white;
        text-decoration: none;
    }
