@page "/Termsandconditions"

<h2>Terms and conditions</h2>

<h4>RedStore Terms of Sale</h4>

<p>
    These standard terms of sale ('Terms of sale') is an electronic record in the form of an electronic contract.
    These terms of sale does not require any physical, electronic or digital signature
</p>

<p>
    These terms of sale is a legally binding document between buyer and seller where the seller has made the offer to sell the products
    by listing the same on the website and buyer has accepted such offer of the seller by agreeing to buy the product so offered on the
    website. These terms of sale will be effective and binding on the seller upon seller's advertising, exhibiting and creating a
    listing of the product on the website, and shall be effective and binding on the buyer upon buyer agreeing to purchase the products
    so listed by the seller.
</p>

<p>
    In these Terms of Sale, a User (whether guest user or registered user) who purchase various Products (as defined below) from the
    Seller on the website of RedStore located at the URL www.RedStore.com and mobile application under the name and style 'RedStore'
    (collectively, the Website) is referred to as 'Buyer' and the Seller is referred to as an individual or any legal entity who list,
    advertise, exhibit, offers to sell, make available, market, sale and deliver any Products through the Website to the Buyer
    (referred to as 'Seller'). These Terms of Sale describe, inter alia, the terms of offer for sale/sale, acceptance of offer for sale
    by Buyer and the purchase of goods and services ('Products') through the Website from the Seller. These Terms of Sale also contains
    certain statements and disclaimers made by RedStore ('RedStore') which shall be binding on Buyer and Seller, as the case may be.
    Sometimes both Buyer and Seller are collectively referred to as 'you' with its grammatical variations and cognate expressions.
</p>

<p>
    Please read these terms of sale carefully before listing any product or before purchasing any products. These terms of sale are
    in addition to various agreements, terms, privacy policy, terms of use and all other policies of the website. Seller may include
    additional or conflicting terms and conditions of sale in the product listing or product description as made available on the
    website ('additional terms of sale'). If there is any conflict between these terms of sale and the additional terms of sale,
    the additional terms of sale shall take precedence to the extent of such conflict and in relation to that sale. If a seller does not
    agree with these terms of sale, please do not list of make any offer for sale of any products on the website and if a buyer does not
    agree to these terms of sale and additional terms of sale, please do not buy or attempt to buy any product listed on the website.
</p>

<p>
    These Terms of Sale are subject to revision at any time and hence both Buyers and Sellers are requested to carefully read these
    Terms of Sale from time to time before listing any Product or before making any purchase of the Products. The revised Terms
    of Sale shall be made available on the Website.
</p>

<p>
    You are requested to regularly visit the Website to view the most current Terms of Sale. It shall be your responsibility to check
    these Terms of Sale periodically for changes and Buyer should also check Additional Terms of Sale of the Seller on the Product
    listing. You may be asked to provide your specific consent to any updates in a specified manner before any further use of the
    Website and related services. If no separate consent is sought, your continued use of the Website following such changes and
    modifications to the Website or these Terms of Sale will constitute your acceptance of such changes or modifications.
</p>


<ol style="padding-bottom: 50px;">
    <li>
        <h5><b>Offer and acceptance of the product</b></h5>
        <ol>
            <li>The Seller hereby makes an offer to sell the Products listed by Seller on the Website and the Buyer upon agreeing to purchase the Products so listed by the Seller hereby accepts such offer to sell by the Seller. Accordingly, the contract for sale of the Product is be a bipartite contract between Buyer and the Seller. RedStore is not a third party beneficiary under such bipartite contract. The Buyer understands and agrees that the offer for sale of the Product by the Seller is not an absolute or an un-conditional offer. Such offer to sale by the Seller is subject to repudiation by the Seller at any time before the delivery of the Product to the Buyer and without any obligation to assign or provide any reason for such repudiation and without any consent from the Buyer and without any liability or any obligation towards the Buyer. The Seller and Buyer understand and agree that RedStore has the right to cancel any sale transaction, listing or acceptance (i) for any reason in accordance with the Seller Agreement, these Terms of Sale, Website Terms of Use, Privacy Policy or under any contract or policy between RedStore on one hand and the Seller or the Buyer on the other hand, or (ii) under an order or instruction from any statutory, quasi-judicial or judicial authority.</li>
        </ol>
    </li>

    <li>
        <h5><b>Product(s)</b></h5>
        <ol>
            <li>RedStore also respects the intellectual property rights of all entities. If you believe that your intellectual property rights have been violated in any manner, please send a Notice of Infringement of Intellectual Property ('IP Infringement Notice'). Please send the duly filed out IP Infringement Notice via email to us.</li>
            <li>The availability of the Product under the offer to sell is subject to change without notice prior to the purchase of the Product by the Buyer. However, there may be circumstances where the Product may not be available to be delivered to the Buyer after the purchase transaction. In such an event, Seller may cancel or instruct RedStore to cancel such purchase transaction without any recourse to Buyer and without any liability to the Seller or to RedStore. If Buyer's order is so cancelled, after the payment has been processed, the said amount will be reversed / remitted to the Buyer either to the bank account provided by the Buyer for such reversal, or to the payment instrument of the Buyer from which payment was made, or to any pre-paid payment instrument account of the Buyer. RedStore shall have the sole discretion to determine the mode of reversal from the above options</li>
            <li>
                With respect to the sale of Product by Seller to the Buyer, the Seller hereby represents and warrants to the Buyer that:
                <ol>
                    <li>Seller has the right to sell the Products to the Buyer on or through the Website;</li>
                    <li>Buyer shall have and enjoy quiet possession of the Products;</li>
                    <li>Products shall be free from any charge or encumbrance in favour of third party</li>
                    <li>Buyer shall be entitled to all the warranties and other collaterals made available by the manufacturer or seller of the Product</li>
                    <li>Product shall meet the description and specifications as provided on the Website.</li>
                    <li>For all products, seller's warranty shall be valid at least for 90 days after purchase.</li>
                </ol>
            </li>
        </ol>
    </li>

    <li>
        <h5><b>Pricing Information</b></h5>
        <ol>
            <li>The Selling Price of the Product is subject to change without notice prior to the purchase of the Product by the Buyer. The Selling Price is provided on the Website on 'as is' basis. Due to technical reasons there may be errors in Selling Price which may be corrected by RedStore at any time and any acceptance of offer of sale by the Buyer of the Products subject to such faulty Selling Price shall, subject to discretion of RedStore, not be a valid acceptance and such transaction can be avoided by RedStore and/or the Seller.</li>
            <li>All prices on RedStore are inclusive of shipping fee and taxes unless stated otherwise.</li>
        </ol>
    </li>

    <li>
        <h5><b>Delivery of the product</b></h5>
        <ol>
            <li>The Product shall be delivered through the logistics provider selected by RedStore. The risk of any damage, loss or deterioration of the Products during the course or delivery or during transit shall be on the Seller and not on the Buyer. Seller represent and warrant that the Products being delivered are not faulty and are exactly those Products which are listed and advertised by Seller on the Website and purchased by the Buyer and meet all descriptions and specifications as provided on the Website.</li>
            <li>There may be certain locations/addresses which may not be serviceable by logistic service providers or by Seller. In such cases, Buyer may provide an alternate shipping address on which the Product can be delivered by the logistics service provider or by the Seller. Buyer cannot change the location after the shipping has commenced.</li>
            <li>Please note that there is no guaranteed dispatch time and any information about the dispatch time is estimate only and should not be relied upon as such. Therefore, time is not the essence of the bi-partite contract between the Buyer and the Seller for purchase and sale of Product on or through the Website and App. However, the Product shall not be delivered to the Buyer unless the Buyer makes the payment of the purchase of Product.</li>
            <li>Buyer shall be bound to take delivery of the Products purchased by the Buyer that are said to be in a deliverable state. Where Buyer neglects or refuses to accept the delivery of the Products ordered by the Buyer, the Buyer may be liable to the Seller for such non-acceptance and shall further be liable to RedStore for any loss of any fee or charges that RedStore and its third parties shall have earned from the Seller if such delivery or transaction should have been completed. Buyer acknowledges that such damages or loss to RedStore and its third parties are not consequential or indirect.</li>
            <li>The title in the Products and other rights and interest in the Products shall directly pass on to the Buyer from Seller upon delivery of such Product and upon full payment of price of the Product. Upon delivery, the Buyer is deemed to have accepted the Products. The risk of loss shall pass on to the Buyer upon delivery of Product.</li>
            <li>Deemed receipt: In the event Buyer didn't receive the Product in the maximum estimated lead time, Buyer should contact RedStore within 3 days immediately from such estimated delivery date, RedStore will try the best to locate and deliver the Product. If RedStore does not hear from Buyer within 3 days from such delivery date, Buyer shall be deemed to have received the Product.</li>
        </ol>
    </li>

    <li>
        <h5><b>Return policy for products</b></h5>
        <ol>
            <li>Buyer's Product related complainant for refund or replacement will be processed in accordance with the return policy of RedStore. However, in the event of false, frivolous or baseless complaints regarding the delivery or quality of the Products, the Buyer will not be eligible for refund or replacement.</li>
            <li>Before accepting delivery of any Product, the Buyer shall reasonably ensure that the Product's packaging is not damaged or tampered.</li>
            <li>The return process of a Product may be subject to additional terms depending on the nature and category of the Product. Any such additional terms may be specified on the Website or be intimated by the Seller at the time of purchase of the Product.</li>
            <li>In the event the return of a Product is duly accepted by RedStore, the value of such Product, as originally paid by Buyer during acceptance of Product, will either be refunded to Buyer either to the bank account provided by the Buyer for such refund, or to the payment instrument of the Buyer from which payment was made, or to any pre-paid payment instrument account of the Buyer. RedStore shall have the sole discretion to determine the mode of reversal from the above options.</li>
            <li>If RedStore on behalf of seller provides replacement goods or give the buyer a refund, the non-conforming Goods or parts thereof shall become Seller property.</li>
        </ol>
    </li>

    <li>
        <h5><b>Cancellation of transaction / orders</b></h5>
        <ol>
            <li>Cancellation by Seller: There may be certain orders that Seller is unable to accept and has the right to cancel either by the Seller directly or Seller can instruct RedStore to cancel such order. Seller reserves the right, at its sole discretion, to refuse or cancel any order for any reason whatsoever. Some situations that may result in Buyer's order being cancelled include, without limitation, non-availability of the Product or quantities ordered by Buyer or inaccuracies or errors in pricing information. Seller may also require additional verifications or information before processing any order. All such cancellation shall be without any recourse to Buyer and without any liability to RedStore. If Buyer's order is so cancelled, after the payment has been processed, the said amount will be reversed / remitted to the Buyer either to the bank account provided by the Buyer for such reversal, or to the payment instrument of the Buyer from which payment was made, or to any pre-paid payment instrument account of the Buyer. RedStore shall have the sole discretion to determine the mode of reversal from the above options. In the event a promotional code given by RedStore is used for the purchase of the Product, the amount under such promotional code shall not be refunded in case of cancellation of order.</li>
            <li>Cancellation by the Buyer: In case of requests for order cancellations, Seller reserves the right to accept or reject requests for order cancellations for any reason whatsoever. As part of usual business practice, if Seller receives a cancellation notice and the order has not been processed, Seller may cancel the order and refund the entire amount to Buyer within a reasonable period of time. Buyer will not be able to cancel orders that have already been processed by the Seller after 8 hours from the time the order was placed. Buyer agrees not to dispute the decision made by Seller and accept Seller's decision regarding the cancellation.</li>
            <li>Cancellation by RedStore: RedStore reserve the right to cancel orders for any reason at any time. If an order is not paid within 3 days after it is placed, it may be cancelled by RedStore.</li>
            <li>Set-off of any benefits availed by the Buyer: In case the Buyer has availed any benefit under any marketing or promotions provided by RedStore in relation to the Product for which the order has been cancelled by the Buyer or by the Seller, Buyer agrees and authorizes RedStore to recover such benefits from the Buyer or set-off the same from any refunds to the Buyer.</li>
        </ol>
    </li>

    <li>
        <h5><b>Governing Law</b></h5>
        <ol>
            <li>These Terms of Sale shall be governed in accordance with the laws of Switzerland without reference to conflict of laws principles. Any and all disputes against RedStore shall be exclusively referred to arbitration by sole arbitrator appointed by the Swiss Chambers' Arbitration Institute. The seat of the arbitration shall be Geneva, Switzerland. The arbitration shall be held in accordance with the Swiss Rules of International Arbitration, 2012 of the Swiss Chambers' Arbitration Institute. The decision of the arbitrator shall be final and binding on the Parties.</li>
            <li>You acknowledge that these Terms of Sale are solely for your benefit. It is not for the benefit of any other person, except for your successors and permitted assigns.</li>
        </ol>
    </li>

    <li>
        <h5><b>Communications</b></h5>
        <ol>
            <li>If you have any questions or complaints, please contact RedStore support team.</li>
        </ol>
    </li>

    <li>
        <h5><b>Disclaimer by RedStore</b></h5>
        <ol>
            <li>RedStore's role is that of an intermediary in the form of an online marketplace and is limited to managing the website to enable seller to exhibit, advertise, display, make available and offer to sell the products and to enable buyer to purchase the products so offered, and other incidental services to facilitate the transactions between sellers and the buyers. Accordingly, the contract for sale of any of the products shall be a bipartite contract between seller and the buyer. At no time shall RedStore have any obligations or liabilities in respect of such contract nor shall RedStore hold any title in the products. The title in the products and other rights and interest in the products shall directly pass to the buyer from the seller.</li>
            <li>RedStore does not control, endorse or accept responsibility for any product (including but not limited to product catalogues) offered by sellers accessible through the website, apps or any linked sites. RedStore makes no representations or warranties whatsoever about, and shall not be liable for, the seller or any such third parties, their products including representations relating to merchantability, fitness of a product or service for a particular purpose, and non-infringement of third party intellectual property rights. Any transactions that buyer may have with such third parties are at buyer's own risk. The products shall be subject to seller's terms and conditions for warranty, service and maintenance, and RedStore does not accept any responsibility for the same. RedStore also does not accept any responsibility for the usage of the products by the buyer.</li>
            <li>RedStore specifically disclaims any liability with regard to any illegal, infringing, fake, duplicate, spurious, defective or counterfeit, refurbished, expired products purchased by buyer from the seller and RedStore shall not assume any liability if the product purchased or availed by buyer from the seller is not exactly as per specifications detailed in the purchase confirmation order.</li>
            <li>RedStore is in no way responsible or liable for the offer for sale or sale of the Product by the Seller to the Buyer, its delivery, the warranty terms (if any) related to the Product and the return, refund or cancellation of purchase of any Products.</li>
            <li>RedStore does not warrant that the sale price provided by the Seller of the Product is accurate, proper and valid. Any error in the sale price shall be solely attributed to the Seller and not to RedStore. Prices, Product description and availability of the Product are Seller's responsibility.</li>
            <li>Buyer expressly acknowledges that the Seller selling the defective Product will be responsible to Buyer for any claims that Buyer may have in relation to such defective Product and RedStore shall not in any manner be held liable for the same.</li>
            <li>RedStore shall not assume any liability for the non-availability of the Product, delivery of the Product directly by the Seller and the installation of the Product where required.</li>
        </ol>
    </li>

</ol>

<MudScrollToTop>
    <MudFab Color="Color.Default" Icon="@Icons.Filled.ArrowUpward" />
</MudScrollToTop>